body {
    background-color: rgb(26, 16, 13);
}

#registro {
    background-color: #eeeeee;
    padding: 10px 15px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 1em;
}

#registro input, #registro label {
    display: inline-block;
    margin-right: 10px;
}

#registro input[type="text"] {
    width: 80%
}

#registro label {
    text-align: left;
}

#registro input[type="submit"] {
    margin-top: 1em;
    float: right;
    clear: both;
    display: block;
}

#container-chat {
    display: none;
    width: 40%;
    margin: 0 auto;    
}